

.m-annotated.area {
  display: flex;
  flex-direction: row;
}


.m-annotated.page.unimargined .m-annotated.note {
  position: absolute;
  left: 0;
  width: 100%;
  box-sizing: border-box;
}

.m-annotated.page.isomargined .m-annotated.page-left {
  width: 896px;
}
.m-annotated.page.isomargined .m-annotated.area-contents {
  width: 632px;
  padding-right: 8px;
  box-sizing: border-box;
}
.m-annotated.page.unimargined .m-annotated.page-left {
  width: 632px;
  padding-right: 8px;
  box-sizing: border-box;
}
.m-annotated.note .m-annotated.area-contents {
  padding-right: 0;
}

.m-annotated.page.isomargined .m-annotated.area-notes {
  width: 264px;
  background-color: #E8F0FF;
}

.m-annotated.page.unimargined .m-annotated.page-right {
  position: relative;
  width: 264px;
  background-color: #E8F0FF;
}

a.m-annotated.note-anchor,
div.m-annotated.note-starter {
  margin: -1px;
  border-width: 1px;
  border-style: solid;
  min-width: 1.2em;
  text-align: center;
  font-weight: normal;
}
a.m-annotated.note-anchor {
  margin-left: 0px;
  margin-right: 0px;
  display: inline-block;
  font-size: 9.5pt;
}
div.m-annotated.note-starter {
  margin-left: 2px;
  margin-right: 4px;
  padding: 0px 2px;
  float: left;
}
.m-annotated.note-color0 {
  background-color: #D0F0D0;
  border-color: #70E070;
  color: #408040;
}
.m-annotated.note-color1 {
  background-color: #F0D0F0;
  border-color: #D0C0D0;
  color: #804080;
}
.m-annotated.note-color2 {
  background-color: #F0D0D0;
  border-color: #E0B8B8;
  color: #A06060;
}
.m-annotated.note-color3 {
  background-color: #D0F0F0;
  border-color: #70E0E0;
  color: #408080;
}
.m-annotated.note-color4 {
  background-color: #F4E0C0;
  border-color: #FFC000;
  color: #B07020;
}
.m-annotated.note-color5 {
  background-color: #B8D8FF;
  border-color: #B0C0FF;
  color: #202080;
}


.m-annotated.inline-code {
  font-family: Roboto Mono, Courier New, Courier;
  padding: 0 4px;
  white-space: pre;
  font-size: 10pt;
}

.m-annotated.area-contents .m-annotated.inline-code {
  border: 1px solid #E0E0E0;
  background-color: #F0F0F0;
}

.m-annotated.note .m-annotated.inline-code {
  background-color: white;
}

.m-annotated.networking,
.m-annotated.afterword,
.m-annotated.plans {
  background-color: #F0F0FF;
  padding: 16px 16px 1px 16px;
  border-right: 2px solid #E8E8FF;
  margin-top: 32px;
}

.m-annotated.plans .m-annotated.inline-code,
.m-annotated.afterword .m-annotated.inline-code {
  border: 1px solid #D0D0D0;
  background-color: white;
}

.m-annotated.page.unimargined .columns {
  display: flex;
  flex-direction: row;
}

.m-annotated.note ul {
  margin: 0 0 8px 0;
  padding-left: 16px;
}

.m-annotated.margin {
  float: right;
}
.m-annotated.page.unimargined .m-annotated.margin {
  position: absolute;
  width: 264px;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #F0F4FF;
}

.m-annotated .content {
  margin-bottom: 16px;
}

.m-annotated.note section.m-annotated {
  margin-bottom: 0px;
}
/*section.m-annotated:last-child {
  margin-bottom: 0;
}*/

.m-annotated.split {
  display: flex;
  margin-bottom: 8px;
}
.m-annotated.split-left {
  flex-grow: 1;
  width: calc(50% - 8px);
  margin-right: 16px;
}
.m-annotated.split-right {
  width: calc(50% - 8px);
  flex-grow: 1;
}

.m-annotated.split-left > section.m-annotated:last-child,
.m-annotated.split-right > section.m-annotated:last-child {
  margin-bottom: 0;
}

.m-annotated.width60 {
  flex-grow: 1;
  width: calc(60% - 8px);
}
.m-annotated.width40 {
  flex-grow: 1;
  width: calc(40% - 8px);
}
.m-annotated.width60 + .m-annotated.width40 {
  margin-left: 16px;
}
.m-annotated.width40 + .m-annotated.width60 {
  margin-left: 16px;
}


.m-annotated.intro-container {
  width: 616px;
}
.m-annotated.toc-container {
  width: 264px;
  background-color: white;
  box-sizing: border-box;
}
.m-annotated.page.unimargined .m-annotated.toc-container {
  position: absolute;
}

.m-annotated.notes-header {
  opacity: .5;
  font-style: italic;
  text-align: center;
  margin-top: 4px;
}


.m-annotated.c-toc.root {
  background-color: white;
  padding-bottom: 16px;
}


.m-annotated.c-toc ul.m-annotated.c-toc {
  margin: 0;
  padding-left: 30px;
}
.m-annotated.c-toc li.m-annotated.c-toc {
  margin: 0;
}
.m-annotated.c-toc li.m-annotated.c-toc + li.m-annotated.c-toc {
  margin: 0;
}
.m-annotated.c-toc a.m-annotated.c-toc {
  font-weight: normal;
}




.m-annotated.end {
  margin-bottom: 0;
}

.m-annotated h2 {
  color: #0b5394;
  margin-top: 4px;
  margin-bottom: 16px;
  font-size: 18pt;
}

.m-annotated.line {
  border-top: 2px solid #E0E0E0;
  margin: 16px 0;
}

.m-annotated h3 {
  margin-top: 4px;
  margin-bottom: 16px;
  margin-right: 16px;
  font-size: 14pt;
}

.m-annotated h4 {
  margin-top: 4px;
  margin-bottom: 16px;
  margin-right: 16px;
  font-size: 13pt;
  color: #303030;
}

.m-annotated h5 {
  margin-top: 4px;
  margin-bottom: 16px;
  margin-right: 16px;
  font-size: 11pt;
  color: #000000;
  font-weight: bold;
}

.m-annotated.noline {
  border-top-width: 0;
  padding-top: 0;
}

.m-annotated.comment {
  color: #A0A0A0;
}


.m-annotated.afterword table {
  background-color: white;
}

.comparison {
  border-spacing: 0;
  border-collapse: collapse;
}
.comparison td,
.comparison th {
  text-align: left;
  padding: 8px;
  border: 1px solid #C0C0C0;
  vertical-align: top;
}
.comparison .good {
  background-color: #D8F0D8;
}
.comparison .meh {
  background-color: #F0E8D8;
}
.comparison .na {
  background-color: #F0F0F0;
}
.comparison .bad {
  background-color: #F0D8D8;
}



.m-annotated.note {
  padding: 8px;
}
