
.header.title {
	font-size: 26pt;
	font-weight: bold;
  position: relative;
  top: -1px;
  right: 3px;
  color: #D0D0D0;
}
.header.small .header.title {
	font-size: 16pt;
  top: 0px;
}
a.header:hover {
	text-decoration: none;
}
.header.vale {
	color: white;
	/*text-shadow: 2px 2px 5px rgba(0, 0, 255, .3), 2px -2px 5px rgba(255, 0, 255, .13), -2px -2px 5px rgba(255, 255, 0, .13), -2px 2px 5px rgba(0, 255, 0, .13)*/
	/*text-shadow: 0 0 5px rgba(255, 255, 255, .3);*/
}

.header.root {
	color: white;
	background-color: #20232a;
	width: 100%;
	min-width: 896px;
	overflow: hidden;
	height: 68px;
}
.header.small.root {
	height: 38px;
}
.header .contents {
	margin: auto;
	width: 896px;
	height: 64px;
	position: relative;
	display: flex;
	align-items: center;
}
.header.small .contents {
	height: 32px;
}
.header .text {
	display: flex;
	align-items: center;
	margin-left: 8px;
}
.header.small .text {
	line-height: 36px;
	font-weight: bold;
	margin-left: 4px;
}
.header .links {
	position: absolute;
	top: 0;
	right: 0;
	line-height: 64px;
}
.header.small .links {
	line-height: 32px;
}
.header .links > a {
	color: white;
	margin-left: 12px;
	position: relative;
	top: 3px;
}
.header .vorb-container {
	margin: 8px;
	width: 48px;
	height: 48px;
	position: relative;
}
.header.small .vorb-container {
	margin: 8px;
	width: 24px;
	height: 24px;
	position: relative;
}
.header .vorb {
	height: 76px;
	width: 76px;
	position: absolute;
	top: -14px;
	right: -14px;
	background-image: url('../images/SphereVG96Size152.png');
	background-size: 76px 76px;
	background-repeat: no-repeat;
	background-position-x: left;
	background-position-y: top;
}
.header.small .vorb {
	height: 38px;
	width: 38px;
	position: absolute;
	top: -6px;
	right: 0px;
	background-size: 38px 38px;
}
.header .explorations {
	color: white;
}