
.header.root {
  color: white;
  background-color: #20232a;
  overflow: hidden;
}
.header .contents {
  height: 100%;
  margin: auto;
  position: relative;
}

a.header:hover {
	text-decoration: none;
}
.header.vale {
	color: white;
	/*text-shadow: 2px 2px 5px rgba(0, 0, 255, .3), 2px -2px 5px rgba(255, 0, 255, .13), -2px -2px 5px rgba(255, 255, 0, .13), -2px 2px 5px rgba(0, 255, 0, .13)*/
	/*text-shadow: 0 0 5px rgba(255, 255, 255, .3);*/
}



.header .text {
	height: 100%;
	width: 100%;
	display: flex;
	position: relative;
	align-items: center;
}
.header.title {
	font-size: 26pt;
	font-weight: 500;
  color: #D0D0D0;
  position: relative;
  top: -1px;
}
.header.title > * {
}
.header.explorations .header.title {
	font-size: 16pt;
  top: 0px;
}
.header.explorations .links {
	line-height: 32px;
}
.header .links > a {
	color: white;
	vertical-align: middle;
}
.header .vorb-container {
	position: absolute;
}
.header .vorb {
	background-image: url('../images/SphereVG96Size152.png');
	/*height: 76px;
	width: 76px;
	position: absolute;
	top: -14px;
	right: -14px;
	background-size: 76px 76px;
	background-repeat: no-repeat;
	background-position-x: left;
	background-position-y: top;*/
}

.header .explorations {
	color: white;
}
.header .reddit,
.header .github,
.header .discord {
	background-size: 100% 100%;
	background-image: url('../images/reddit_share_circle_64.png');
	width: 24px;
	height: 24px;
	color: transparent !important;
	display: inline-block;
	overflow: hidden;
}
.header .discord {
	background-image: url('../images/Discord-Logo-Color.png');
}
.header .reddit {
	background-image: url('../images/reddit_share_circle_64.png');
}
.header .github {
	background-image: url('../images/GitHub-Mark-Light-64px.png');
}
