
.header.root {
  width: 100%;
  min-width: 896px;
}
.header .contents {
  width: 896px;
}

.header.explorations .vorb {
  height: 38px;
  width: 38px;
  background-size: 38px 38px;
}
.header.mainsite .vorb {
  height: 68px;
  width: 68px;
  background-size: 68px 68px;
}

.header.vorb-container {
  margin-left: -6px;
}
.header.links {
  position: absolute;
  height: 100%;
  display: flex;
  align-items: center;
  top: 0;
  right: 0;
}
.header.mainsite .links > a {
  position: relative;
  top: 3px;
}

.header.mainsite .header.text {
  margin-left: 76px;
  height: 68px;
}
.header.explorations .header.text {
  margin-left: 44px;
  height: 38px;
}

.header .links > a {
  margin-left: 12px;
}