
.m-tripage.subtitle {
  opacity: .6;
}

.m-tripage.author {
  opacity: .6;
}
.m-tripage.date {
  font-weight: bold;
}

.m-tripage.inline-code {
	font-family: Roboto Mono, Courier New, Courier;
	padding: 0 4px;
	white-space: nowrap;
	font-size: 10pt;
}

.m-tripage.main .m-tripage.inline-code {
  border: 1px solid #E0E0E0;
  background-color: #F0F0F0;
}

.m-tripage.afterword,
.m-tripage.plans {
	background-color: #F0F0FF;
	padding: 16px 16px 1px 16px;
	border-right: 2px solid #E8E8FF;
  margin-top: 16px;
}

.m-tripage.plans .m-tripage.inline-code,
.m-tripage.afterword .m-tripage.inline-code {
  border: 1px solid #D0D0D0;
  background-color: white;
}

.m-tripage .page {
  width: 896px;
  box-sizing: border-box;
  margin: auto;
  position: relative;
}

.m-tripage .left {
  overflow: auto;
  width: 632px;
}

.m-tripage .main {
  padding-top: 16px;
  padding-right: 16px;
  overflow: auto;
}

.m-tripage .margin {
  position: absolute;
  width: 264px;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #F0F0F0;
}

.m-tripage .content {
  margin-bottom: 16px;
}

.m-tripage .input {
  width: 100%;
  box-sizing: border-box;
  color: #f8f8f2;
  background-color: #506090;
  padding: 0.5em;
  white-space: pre;
  font-size: 9.5pt;
  font-family: Roboto Mono, Courier New, Courier;
  line-height: 12pt;
  overflow: auto;
}

.m-tripage .output {
  width: 100%;
  box-sizing: border-box;
  color: #f8f8f2;
  background-color: #505050;
  padding: 0.5em;
  white-space: pre;
  font-size: 9.5pt;
  font-family: Roboto Mono, Courier New, Courier;
  line-height: 12pt;
  overflow: auto;
}

.m-tripage .splitter {
  display: flex;
}

.m-tripage.half {
  flex-grow: 1;
  width: calc(50% - 8px);
}
.m-tripage.half + .m-tripage.half {
  margin-left: 16px;
}

.m-tripage.width60 {
  flex-grow: 1;
  width: calc(60% - 8px);
}
.m-tripage.width40 {
  flex-grow: 1;
  width: calc(40% - 8px);
}
.m-tripage.width60 + .m-tripage.width40 {
  margin-left: 16px;
}
.m-tripage.width40 + .m-tripage.width60 {
  margin-left: 16px;
}


.m-tripage.intro-container {
  width: 616px;
}
.m-tripage.toc-container {
  width: 264px;
  background-color: white;
  position: absolute;
  box-sizing: border-box;
}

.m-tripage.notes-header {
  opacity: .5;
  font-style: italic;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  margin-top: 4px;
}




.m-tripage p {
  margin: 0 0 16px 0;
}

.m-tripage .cozy {
  margin-bottom: 8px;
}

ul.m-tripage {
  margin: 8px 0;
}

li.m-tripage {
  margin-bottom: 0;
}

li.m-tripage + li.m-tripage {
  margin-top: 8px;
}

.m-tripage.end {
  margin-bottom: 0;
}

.m-tripage h1 {
  margin-top: 16px;
  margin-bottom: 16px;
  font-size: 18pt;
}

.m-tripage h2 {
  border-top: 2px solid #E0E0E0;
  margin-top: 16px;
  padding-top: 8px;
  margin-bottom: 16px;
  font-size: 16pt;
}

.m-tripage.line {
  border-top: 2px solid #E0E0E0;
  margin: 16px 0;
}

.m-tripage h3 {
  border-top: 2px solid #E0E0E0;
  margin-top: 16px;
  padding-top: 8px;
  margin-bottom: 16px;
  margin-right: 16px;
  font-size: 14pt;
}

.m-tripage h4 {
  margin-top: 16px;
  margin-bottom: 16px;
  margin-right: 16px;
  font-size: 13pt;
  color: #303030;
}

.m-tripage h5 {
  margin-top: 16px;
  margin-bottom: 16px;
  margin-right: 16px;
  font-size: 11pt;
  color: #000000;
  font-weight: bold;
}

.m-tripage.noline {
  border-top-width: 0;
  margin-top: 0;
  padding-top: 0;
}

.m-tripage.comment {
  color: #A0A0A0;
}

.m-tripage ul,
.m-tripage ol {
  margin-top: 0;
  margin-bottom: 0;
}


.m-tripage.afterword table {
  background-color: white;
}

table.m-tripage.comparison {
  border-spacing: 0;
  border-collapse: collapse;
}
table.m-tripage.comparison td,
table.m-tripage.comparison th {
  text-align: left;
  padding: 8px;
  border: 1px solid #C0C0C0;
  vertical-align: top;
}
table.m-tripage.comparison .good {
  background-color: #D8F0D8;
}
table.m-tripage.comparison .meh {
  background-color: #F0E8D8;
}
table.m-tripage.comparison .bad {
  background-color: #F0D8D8;
}