
.c-home.page {
	width: 896px;
	margin: auto;
	padding-top: 32px;
}
.c-home .columns {
  display: flex;
}
.c-home .left {
	width: 52%;
	flex-grow: 1;
	margin: 0 8px 8px 0;
}
.c-home .right {
	width: 48%;
	flex-grow: 1;
	margin: 0 0 8px 8px;
}
.c-home .description {
	margin-bottom: 8px;
}
.c-home ul {
	margin: 0;
}
.c-home li {
	margin: 8px 0;
}
.c-home .intro {
	margin: 0 0 0 0;
	padding: 0 0;
	margin-bottom: 16px;
	font-size: 120%;
}
.c-home .featuring {
	margin: 0 0 0 0;
	padding: 0 0;
	margin-bottom: 16px;
}
.c-home .featuring-title {
	font-weight: bold;
}
.c-home .recent-posts {
	margin-bottom: 32px;
}
.c-home .recent-posts-title {
	font-weight: bold;
}
.c-home .upcoming-title {
	font-weight: bold;
}
.c-home .possibilities {
	margin: 0 0 16px 0;
	background-color: #F0F0F0;
	padding: 16px;
}
.c-home .copyright {
	opacity: .3;
	text-align: center;
	margin-bottom: 8px;
}
.c-home ul {
	padding-left: 24px;
}
.c-home .possibilities-header {
	margin-bottom: 16px;
	display: flex;
}
.c-home .possibilities-header-text {
	font-weight: bold;
}
.c-home .possibilities-header-page-number {
	margin-left: 8px;
	flex-grow: 1;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
}
.c-home .possibilities-page {
	display: inline-block;
	background-color: black;
	width: 10px;
	height: 10px;
	opacity: .4;
	margin: 0 4px;
	vertical-align: middle;
}
.c-home .possibilities-page-current {
	opacity: .8;
}
.c-home .notyet {
	opacity: .3;
}

.c-home .tagline {
  text-align: center;
	margin: 0 0 16px;
}

.c-home .wip {
	margin: 8px 0 16px;
}

.c-home .incomplete {
	color: #862424;
}

.c-home.github {
	margin-bottom: 8px;
	text-align: right;
}

.c-home.reference {
	margin: 16px 0 24px;
	padding: 0 0;
}

.c-home .example {
	margin-top: 8px;
	color: #f8f8f2;
	border: 1px solid #C0C0C0;
	background-color: #282923;
	overflow: auto;
	border-bottom-width: 0;
	position: relative;
}

.c-home .example .code {
	font-size: 10pt;
	font-family: Roboto Mono, Courier New, Courier;
	line-height: 12pt;
	white-space: pre-wrap;
}

.c-home .example .equivalent {
	position: absolute;
	right: 4px;
	bottom: 4px;
	opacity: .75;
}
.c-home .example .equivalent a {
	color: #C0FFFF;
	font-weight: normal;
}


.c-home .output {
	color: #f8f8f2;
	margin-bottom: 16px;
	border: 1px solid #C0C0C0;
	border-top-width: 0;

	background-color: #505050;
	padding: 0.5em;
	white-space: pre;
	font-size: 10pt;
	font-family: Roboto Mono, Courier New, Courier;
	line-height: 12pt;
	overflow: auto;
}