
.page {
  width: 100%;
  max-width: 623px;
}

.page-left {
  width: 100%;
  box-sizing: border-box;
}
.page-right {
  display: none;
}
.slice-contents {
  width: 100%;
  padding-right: 8px;
  box-sizing: border-box;
}

.page-right {
  width: 100%;
  background-color: #E8F0FF;
}

.c-toc.root {
  display: none;
}


.previous-and-next {
  display: flex;
  width: 100%;
}
.previous {
  flex-grow: 1;
  text-align: left;
}
.previous::before {
  content:  "<< ";
}
.next {
  flex-grow: 1;
  text-align: right;
}
.next::after {
  content:  " >>";
}
