
b {
  font-weight: bold;
}

.page {
  margin: auto;
  position: relative;
}

.page-inner {
  margin: 16px 16px 0 16px;
}

.subtitle {
  opacity: .6;
}

.donate-link {
  opacity: .9;
}

.metadata .separator {
  opacity: .6;
}

.author {
  opacity: .6;
}
.date {
}


.external-link {
  padding-right: 20px;
  background-image: url('./images/external-link.png');
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: right;
}

a {
  color: #2a6496;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a[disabled] {
  color: inherit;
}
a[disabled]:hover {
  text-decoration: none;
}


p {
  margin: 0 0 8px 0;
}
p:last-child {
  margin: 0;
}



.quote {
  margin: 0 0 8px 0;
  border-left: 4px #E0E0FF solid;
  padding-left: 16px;
}


.c-snippet.root {
  margin: 8px 0;
}
.c-snippet.root + .c-snippet.root {
  margin-top: -8px;
}

.c-snippet.language-stdin > .code {
  width: 100%;
  box-sizing: border-box;
  color: #f8f8f2;
  background-color: #506090;
  padding: 0.5em;
  white-space: pre;
  font-size: 9.5pt;
  font-family: Roboto Mono, Courier New, Courier;
  line-height: 12pt;
  overflow: auto;
}

.c-snippet.language-stdout > .code {
  width: 100%;
  box-sizing: border-box;
  color: #f8f8f2;
  background-color: #505050;
  padding: 0.5em;
  white-space: pre;
  font-size: 9.5pt;
  font-family: Roboto Mono, Courier New, Courier;
  line-height: 12pt;
  overflow: auto;
}



ul.blank {
  list-style-type: none;
  padding-left: 24px;
}

ul.blank > li {
  margin: 0;
}

.cozy {
  margin-bottom: 8px;
}

.slice-contents {
  width: 100%;
  padding-right: 8px;
}

.slice-contents ul,
.slice-contents ol {
  margin: 0 0 8px 0;
}


.slice-contents li {
  margin-top: 8px;
  margin-bottom: 8px;
}

.slice-contents li > ul {
  margin-top: 8px;
}


.c-toc.title {
}
.c-toc li,
.c-toc ul {
  margin-top: 0;
  margin-bottom: 0;
}
.c-toc ul {
  padding-left: 20px;
}

section {
  margin-bottom: 24px;
}

.metadata {
  margin-bottom: 32px;
}

h1 {
  margin-top: 4px;
  margin-bottom: 16px;
  font-size: 18pt;
  font-weight: 500;
}

h2 {
  color: #0b5394;
  margin-top: 4px;
  margin-bottom: 16px;
  font-size: 18pt;
  font-weight: 500;
}

h3 {
  margin-top: 4px;
  margin-bottom: 16px;
  margin-right: 16px;
  font-size: 14pt;
  font-weight: 500;
}

h4 {
  margin-top: 4px;
  margin-bottom: 16px;
  margin-right: 16px;
  font-size: 13pt;
  color: #303030;
  font-weight: 500;
}

h5 {
  margin-top: 4px;
  margin-bottom: 16px;
  margin-right: 16px;
  font-size: 11pt;
  color: #000000;
  font-weight: bold;
}

.callout {
  margin: 0 0 8px 0;
  background-color: #FFF0E0;
  padding: 8px;
  border: 2px solid #FFE0C0;
}

.donate-button {
  appearance: none;
  background-color: rgb(246, 248, 250);
  color: black !important;

  border-color: rgba(27, 31, 36, 0.15);
  border-width:  1px;
  border-style:  solid;
  border-radius:  6px;
  border-image-width: 1;
  border-image-outset: 0;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;

  box-shadow: rgba(27, 31, 36, 0.04) 0px 1px 0px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px 0px inset;
  box-sizing: border-box;
  color: rgb(36, 41, 47);
  color-scheme: light;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  overflow-wrap: break-word;
  padding: 3px 12px;
  position: relative;
  text-decoration-color: rgb(36, 41, 47);
  text-decoration-line: none;
  text-decoration-style: solid;
  text-decoration-thickness: auto;
  transition-delay: 0s;
  transition-duration: 0.2s;
  transition-property: color, background-color, border-color;
  transition-timing-function: cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  vertical-align: middle;
  white-space: nowrap
}

a.donate-button:hover {
  text-decoration: none;
}

.donate-button svg {
  box-sizing: border-box;
  color: rgb(191, 57, 137);
  color-scheme: light;
  cursor: pointer;
  display: inline-block;
  fill: rgb(191, 57, 137);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  margin-right: 4px;
  overflow-wrap: break-word;
  overflow-x: visible;
  overflow-y: visible;
  transform: matrix(1, 0, 0, 1, 0, 0);
  transition-delay: 0s;
  transition-duration: 0.15s;
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.2, 0, 0.13, 2);
  vertical-align: text-top;
  white-space: nowrap
}
