
.split {
  display: flex;
  margin-bottom: 8px;
}
.split-left {
  flex-grow: 1;
  width: calc(50% - 8px);
  margin-right: 16px;
}
.split-right {
  width: calc(50% - 8px);
  flex-grow: 1;
}

.split-left > section:last-child,
.split-right > section:last-child {
  margin-bottom: 0;
}

.width60 {
  flex-grow: 1;
  width: calc(60% - 8px);
}
.width40 {
  flex-grow: 1;
  width: calc(40% - 8px);
}
.width60 + .width40 {
  margin-left: 16px;
}
.width40 + .width60 {
  margin-left: 16px;
}
