
.roadmap .blank {
  list-style-type: none;
  padding-left: 0px;
}

.roadmap .item {
  /*background-image: url("components/Sphere144-128-Red.png");
  background-size: 14px 14px;*/
  padding-left: 18px;

  background-repeat: no-repeat;
  background-position: 0 2px;
  background-size: 14px 14px;
}

.roadmap .item.done {
  background-image: url(/images/done.png);
  color: #007000;
}

.roadmap .item.inprogress {
  background-image: url(/images/inprogress.png);
  background-size: 16px 16px;
  color: #0060E0;
}

.roadmap .item.later {
  background-image: url(/images/later.png);
  color: #404040;
}

  /*
  gray: filter: saturate(0%) brightness(120%);
  red: filter: hue-rotate(0deg) saturate(150%);
  orange: filter: hue-rotate(50deg) saturate(300%);
  blue: filter: hue-rotate(240deg) saturate(300%);
  purple: filter: hue-rotate(280deg) saturate(200%);
  green: filter: hue-rotate(120deg) saturate(150%);
  */
  
